body{
    color: white;
    background-color: tomato;
}
.heading{
    width: 80%;
    font-size: 55px;

}

.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(29, 189, 243);
}

#camera,#result{
    border:2px dashed black;
    width: 350px;
    height: 300px;
}

